.container {
  margin: 100px 0 50px 0;
  text-align: center;
}

.info-items {
  display: flex;
  justify-content: center;
  margin: 2em 0 1em 0;
}

.info-item {
  margin: 0 10px;
}

.site-list {
  border: 1px solid black;
  border-radius: 1em;
  width: auto;
  margin-top: 0;
  padding: 10px 10px 10px 2em;
  text-align: left;
}

.site-list-container {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 650px) {
  .break-on-sp {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .break-on-sp {
    display: inline;
  }
}

.none {
  display: none;
}

.fade-in {
  animation: fade-in 0.25s ease;
  max-height: 500px;
}

@keyframes fade-in {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 500px;
    opacity: 1;
  }
}
