.youtube-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 56.15%;
}

.youtube-image-container {
}

.thumbnail {
  position: absolute;
  top: -16.8%;
  left: 0;
  width: 100%;
}
